{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Browse {{ genre ? genre : 'All Genres' }}</h1>
    </div>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'pop'
            }) }}">Pop</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'rock'
            }) }}">Rock</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('app_browse', {
                slug: 'all-accordion'
            }) }}">All Accordion</a>
        </li>
    </ul>
{% endblock %}
